<!DOCTYPE html> 
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
      <title>Cabot Book</title>
      <script src="https://unpkg.com/htmx.org@1.8.4"></script>
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script> 
      
     
   </head>
   <body class="bg-white text-gray-800 min-h-screen flex flex-col">
      <header>
         <div class="antialiased bg-green-400">
            <div class="w-full bg-green-400">
               <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
                  <div class="flex flex-row items-center justify-between p-4">
                     <a href="/" class="text-lg font-semibold text-gray-800">Cabot Book</a> 
                     <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
                        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                           <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                           <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                     </button>
                  </div>
                  <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row">
                     <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg text-gray-800 hover:bg-green-300 focus:bg-green-300 focus:outline-none focus:shadow-outline md:mt-0 md:ml-4" href="/matchbets">Match Bets</a>
                     <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg text-gray-800 hover:bg-green-300 focus:bg-green-300 focus:outline-none focus:shadow-outline md:mt-0 md:ml-4" href="/futurebets">Future Bets</a>
                     <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg text-gray-800 hover:bg-green-300 focus:bg-green-300 focus:outline-none focus:shadow-outline md:mt-0 md:ml-4" href="/props">Props</a>
                     <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg text-gray-800 hover:bg-green-300 focus:bg-green-300 focus:outline-none focus:shadow-outline md:mt-0 md:ml-4" href="/parlay">Parlay</a>
                   
                     {{ if eq .User.Role "admin" }}
                     <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg text-gray-800 hover:bg-green-300 focus:bg-green-300 focus:outline-none focus:shadow-outline md:mt-0 md:ml-4" href="/admindashboard">Admin Dashboard</a>
                     {{ end }}
                   
                     {{ if eq .User.Role "root" }}
                     <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg text-gray-800 hover:bg-green-300 focus:bg-green-300 focus:outline-none focus:shadow-outline md:mt-0 md:ml-4" href="/rootdashboard">Root Dashboard</a>
                     <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg text-gray-800 hover:bg-green-300 focus:bg-green-300 focus:outline-none focus:shadow-outline md:mt-0 md:ml-4" href="/admindashboard">Admin Dashboard</a>
                     {{ end }}
                   
                     <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg text-gray-800 hover:bg-green-300 focus:bg-green-300 focus:outline-none focus:shadow-outline md:mt-0 md:ml-4" href="/logout/google">Logout</a>
                   </nav>
               </div>
            </div>
         </div>
      </header>
      <main class="container mx-auto px-6">
    
            <div class="flex justify-center py-4" id="adminuseredit">
                <button hx-post="/adminuseredit" hx-target="#adminuseredit" hx-swap="outerHTML" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">
                    Toggle Users
                </button>
            </div>
            <div class="flex justify-center py-4" id="beteditmatchup">
                <button hx-post="/adminbetedit/matchup" hx-target="#beteditmatchup" hx-swap="outerHTML" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">
                    Toggle Matchup Bets
                </button>
            </div>
            <div class="flex justify-center py-4" id="beteditfuture">
                <button hx-post="/adminbetedit/future" hx-target="#beteditfuture" hx-swap="outerHTML" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">
                    Toggle Future Bets
                </button>
            </div>
            <div class="flex justify-center py-4" id="beteditprop">
                <button hx-post="/adminbetedit/prop" hx-target="#beteditprop" hx-swap="outerHTML" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">
                    Toggle Prop Bets
                </button>
            </div>

        
              
        </div>
        
    </main>
    
   </body>
</html>
