<!DOCTYPE html>
<html>
<head>
    <title>User Information</title>
</head>
<body>
    <h1>User Details</h1>
    <table>

        <tr>
            <th>Username</th>
            <td>{{ .Username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ .Email }}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td>{{ .Role }}</td>
        </tr>
        <tr>
            <th>Balance</th>
            <td>{{ .Balance }}</td>
        </tr>
    </table>

    {{ if eq .Role "admin" }}
    <p><a href="/admindashboard">Admin Dashboard</a></p>
    {{ end }}

    {{ if eq .Role "root" }}
    <p><a href="/rootdashboard">Root Dashboard</a></p>
    <p><a href="/admindashboard">Admin Dashboard</a></p>
    {{ end }}
    <p><a href="/logout/google">logout</a></p>
</body>
</html>