<!DOCTYPE html>
<html>
<head>
    <title>My Landing Page</title>
</head>
<body>
    <h1>Welcome to My Landing Page</h1>
    
    <a href="http://localhost:8080/auth/google">
        <img src="google_signin_button.png" alt="Sign in with Google">
    </a>
    <a href="http://localhost:8080/home">
        <img src="google_signin_button.png" alt="Sign in with Google">
    </a>
</body>
</html>