<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Cabot Book</title>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
  </head>
  <body class="bg-white text-gray-800 min-h-screen flex flex-col">
    <header>
      <div class="antialiased bg-green-400">
        <div class="w-full bg-green-400">
          <div id="navbar" hx-get="/navbar" hx-trigger="load"></div>
        </div>
      </div>
    </header>
    <main id="main-content" class="container mx-auto px-6" hx-get="/dashboard" hx-target="#main-content" hx-swap="outerHTML" hx-trigger="load"></main>
    </main>
  </body>
</html>
